body{
  padding:0;
  margin:0;
}
footer{
  height:300px;
  background-color: #3f51b5 !important;
  bottom:0;
  position: absolute;
  width: 100%;
  color:white;
}
footer a{
  color: white;
}
.intro-text{
  text-align: center;
  margin-top:20px;
}
.intro-text p{
  font-weight: 500;
}
.create-alias-btn{
  padding:10px; 
  background-color: #8fd944;
  color:white;
}
.emailinput-group{
  width:85%;
}
.your_email{
  padding-left:80px !important;
}
.forwards_to{
  top: 12px;
  background: white;
  border: 3px solid rgb(240, 241, 243);
  position: absolute;
  right: -61px;
  padding: 5px;
}
.email_td{
  position: relative;
}
.table th{
 text-align:center;
}
.table td{
  text-align:center;
}
.resp-tbl table{
  min-width: 1133px;
}
.pg-404{
  text-align: center;
}
.pg-404 h1{
  font-size:11vw;
}
@media (max-width: 1100px)
{
    .resp-tbl{
        overflow-x: auto;
    }
    
}